.media-player {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  background: var(--bg-02);
  margin-bottom: var(--margin-04);
}

.media-player .rich-text {
  flex: 1 1 auto;
  margin-right: var(--margin-02);
}

.media-player .cover {
  min-height: 100px;
  background: var(--bg-01);
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  display: block;
  flex: 0 0 200px;
  margin-right: var(--margin-02);
  border-right: 2px solid var(--fg);
}

.media-player button {
  background: var(--hl);
  align-self: flex-end;
  margin-left: auto;
  margin-right: var(--margin-01);
  margin-bottom: var(--margin-01);
  color: var(--fg);
  flex: 0 0 auto;
}
